*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-secondary{
    color: #FD6E0A;
    background-color: #FFF8F3;
    border: 2px solid #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    padding: 17px 35px;
    border-radius: 5px;
    margin-left: 30px;
    cursor: pointer;
}
.color-orange{
    color: #FD6E0A;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.text-center{
    text-align: center;
}
/* main styles */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left, bottom right;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
nav .menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 51px;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about,
#skills,
#resume{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 20px;
}
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    max-width: 267px;
}
.skill-card img{
    width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color: #181818;
    line-height: 28px;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    margin: 30px 0;
}
.resume-container .section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
#resume .resume-btn{
    margin-top: 50px;
}